<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>

    <section class="encabezado_principal">
    
        <article class="encabezado_mayor">
            <section class="encabezado"> 
            <picture>
                <img class="imagen" src = 'images/logo.svg' alt="">
                   </picture>
                   <form class="barra">
              <label for="search">Barra busqueda</label>         
            <input type="search"  class="barra_buscar" id="search"  name="search" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
                   </form>
                </section>
                
        <p class="p-1"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas sin tarjeta de credito</p>
    </article>
  
    
        <section class="menu">
        <ul class="menu1">
            <li><a  href = ''>Ofertas</a></li>    
            <li><a  href = ''>Tiendas Oficiales</a></li>
            <li><a  href = ''>Vender</a></li>
            <li><a  href = ''>Ayuda</a></li>
        </ul>
        <ul class="menu2">
            <li><a href = '/register'>Crea tu cuenta</a> <i class="far fa-address-card"></i></li>
            <li><a href = '/login'>Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
            <li><a href = ''>Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
        </ul>
    </section>
    </section>
  
</header>
<main>
    <form>

<fieldset class="titulobarra">
    <legend class="tl">Nombre de usuario</legend>
           <label class="tl" for='nombreusuario'>Nombre de usuario</label>
             <input type="text" id="nombreusuario" name="nombreusuario" placeholder="Nombre de usuario" required>
</fieldset>
<fieldset class="titulobarra">
    <legend class="tl">Contraseña</legend>
           <label class="tl" for='contraseña'>Contraseña</label>
             <input type="password" id="contraseña" name="contraseña" placeholder="Elejí tu contraseña" required>
</fieldset>
<fieldset class="titulobarra">
    <legend class="tl">Botones de formularios</legend>
           <button class="boton" type="submit">Enviar</button>
           
</fieldset>


    </form>
</main>
    <footer >

        <section class="lts-3">
        <article>
            <dl> <i class="fas fa-credit-card"></i>
                <h4 class="h4-2">Paga con trajeta o en efectivo</h4>
                <p class="txt-fot">Con MercadoLiebrecash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y siempre es eguro!</p>
            </dl>
        </article>
        <article>
            <dl><i class="fas fa-gift"></i>
                <h4 class="h4-2">Envio gratis desde $2500</h4>
                <p class="txt-fot">Solo por estar regristrado en Mercado Liebre tenes envios gratis en miles de productos.Es un beneficio de Mercado Puntos.</p>
            </dl>
        </article>
        <article>
            <dl> <i class="fas fa-user-shield"></i>
                <h4 class="h4-2">Seguridad de principio a fin</h4>
                <p class="txt-fot">¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no podes hacer porque estas siempre protegid@</p>
                
            </dl>
        </article>
        </section>
        <section>
            <p class="txt-fot-1">Copyright 1999-2021 Mercado Liebre S.R.L</p>
        </section>
        
           </footer>
        
</body>
</html>